<% provide(:title, "Log in") %>
<nav class="main_color">
  <ul class="ul_in_nav">
    <li><a class="page-link" href="#"><h3><--</h3></a></li>
    <li><a class="page-link" href="#"><h1 class="text_upper">register</h1></a></li>
    <li><a class="page-link" href="#"><h3 class="text_capital">next</h3></a></li>
  </ul>
</nav>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>
      <%= f.text_field :name, class: 'form-control', placeholder: "Name" %>

      <%= f.password_field :password, class: 'form-control', placeholder: "Password" %>

      <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Password"  %>

      <%= f.submit "Sign up", class: "btn btn-primary main_color" %>
    <% end %>
  </div>
</div>
</main>
