<!DOCTYPE html>
<html>
  <head>
    <title>Groupon</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
  
  <% flash.each do |key,value| %>
    <div class="alert alert-<%= key %>" role="alert">
    <%= value %>
    </div>
  <%end%> 
    <div class="container-fluid">

      <%= yield %>
      
    </div>
  
  </body>
</html>
